<form action="/display-user-info" method="POST">
  <label>Name
    <input type="text" name="name">
  </label>
  <br>
  <label>Birth
    <input type="date" name="birth">
  </label>
  <br>
  <label>Family size
    <input type="number" name="family">
  </label>
  <br>
  <label>Email
    <input type="email" name="email">
  </label>
  <br>
  <label>No miento no no no
    <input type="checkbox" name="politica">
  </label>
  <br>
  <button type="submit">SEND</button>
</form>
